@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
  background-color: #091526;
  font-family: 'Poppins', sans-serif;
  margin: 0;

}




/* 

dark blue : #091526
dark blue 2 : #0f1a33
neon blue : #60ffd9
text color :#b0cdf1
*/